header {
    padding: 1.75rem;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #2c2c2c, #000);
}

a {
    text-decoration: none;
    color: greenyellow;
    font-size: 1.62rem;
    margin-left: 1.25rem;
    transition: text-shadow .2s ease;
}

a:hover {
    text-shadow:
        0 0 0.37rem greenyellow,
        0 0 0.87rem greenyellow,
        0 0 1.5rem greenyellow;
}

h1 {
    color: white;
    font-size: 1.75rem;
    text-align: center;
}

#sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.37rem;
}

p {
    color: white;
    font-size: 1.5rem;
    margin-top: 1.25rem;
    max-width: 56.25rem;
    line-height: 1.2;
}

#douglas-foto {
    max-width: 18.75rem;
    height: auto;
    border-radius: 62.5rem;
    filter: grayscale(100%);
    margin-left: 0.93rem;
}

#douglas-foto:hover {
    transform: scale(1.03);
    filter: brightness(1.1) saturate(1.1);
    filter: grayscale(0%);
}











#github-logo {
    width: 40px;
}

#github-logo:hover {
    
}

#instagram-logo {
    width: 40px;
}

#instagram-logo:hover {
   
}







@media (max-width: 769px) {
    #sobre {
        flex-direction: column;
    }

    .h1ep {
        margin-top: 2.5rem;
    }
}

@media (max-width: 450px) {

    header {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        align-items: center;
    }

    .card-deck {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#skills {
    background: linear-gradient(to left, #000, #999, #000);
    padding: 1.87rem;
}

#experiencia {
    background: linear-gradient(to right, #23487A, #000, #ec008c);
    padding: 1.87rem;
}

canvas {
    width: 100%;
    height: 43.75rem !important;
}

.card-deck {
    display: flex;
    gap: 1.87rem;
    padding: 5rem;
    justify-content: center;
}

.card-img-top {
    width: 18.75rem;
    height: 18.75rem;
}

.card-footer {
    margin-top: 0.62rem;
    color: #adff2f;
}

#tauste {
    color: #F48120;
    margin-top: 0.62rem;
}

#tupperware {
    margin-top: 0.62rem;
    color: #ec008c;
}

.digitacao {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid white;
    animation: typing 2s steps(13, end), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 15ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.card-footer:hover {
    text-shadow:
        0 0 0.37rem greenyellow,
        0 0 0.87rem greenyellow,
        0 0 1.5rem greenyellow;
}

#formacao {
    padding: 1.87rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-formacao {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-formacao img {
    width: 18.75rem;
}

.card-formacao-title {
    font-size: 1.56rem;
    color: #b11318;
}

li {
    margin-top: 0.93rem;
    font-size: 1.25rem;
    color: #fff;
}

.card-formacao-body {
    margin-top: 1.87rem;

}

.card-formacao-body img {
    width: 3.12rem;
    border-radius: 0.31rem;
}

.card-formacao-img-top {
    animation: girarImagem 60s linear infinite, brilhoPulsante 5s ease-in-out infinite alternate;
    border-radius: 100%;
}

@keyframes girarImagem {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes brilhoPulsante {
    0% {
        box-shadow: 0 0 0.62rem 0.18rem rgba(177, 19, 24);
    }

    50% {
        box-shadow: 0 0 3.12rem 0.5rem rgb(255, 0, 0);
    }

    100% {
        box-shadow: 0 0 0.62rem 0.18rem rgba(177, 19, 24);
    }
}

footer {
    padding: 1.75rem;
    background: linear-gradient(to bottom, #000, #2c2c2c);
}

h6 {
    color: greenyellow;
    font-size: 1.25rem;
    text-align: center;
    animation: piscar 1s infinite;
}

@keyframes piscar {
    0% {
        opacity: 1;

    }

    50% {
        opacity: 0;

    }

    100% {
        opacity: 1;

    }
}